<html>
    <head>
        <title>Heirloom</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="center-screen">
        <div class="setup-box">
            <h1>Login</h1>
            <form action="/login" method="post" class="text-left">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <button type="submit" class="btn w-full">Sign In</button>
            </form>
        </div>
    </body>
</html>